services:
  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=username123
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=jerneif
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: